.wrapper.flex.col.around
  .intro.space-bottom
    %h3.small.poppins.upcase HI
    %p.display.big.gimme-height Iris Sprague is a <span class="bold">Product Design Leader, an award-winning visual Designer, and a lettering aficionado.</span> I specialize in building scalable design systems and crafting beautiful experiences for B2B SaaS products.
    %p.gimme-space
      = link_to 'See all Work', work_path, class: 'bold underline'
  .current.flex.col.around.less-space-bottom
    .writing.a-start
      %h3.small.poppins.upcase.line-space What I'm Writing
      %p.gimme-less-space
        = link_to 'UX Team of One; Building relationships with Other Departments to Ensure your Success', 'https://uxplanet.org/ux-team-of-one-building-relationships-with-other-departments-to-ensure-your-success-105cce510d15?gi=146bcee0bd60', target: '_blank', class: 'bold underline big gimme-height'
      %figure.zero.flex.row.relative
        %a(target='_blank' href='https://uxplanet.org/ux-team-of-one-building-relationships-with-other-departments-to-ensure-your-success-105cce510d15?gi=146bcee0bd60')
          = image_tag 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/clapping-hands-bg.svg', class: 'absolute left-hand big-clap box-shadow'
          = image_tag 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/medium-paper.svg', class: 'box-shadow'
          = image_tag 'https://iris-site.nyc3.cdn.digitaloceanspaces.com/clapping-hands.svg', class: 'absolute right-hand small-clap box-shadow'
  .accolades.less-space-bottom
    %h3.small.poppins.upcase My Recognitions &amp; Accolades
    %ul.display.big.gimme-height.gimme-less-space.zero.mid
      %li Spoke at Type Brigade 32, 2016
      %li Communication Art Typographic Annual, 2015
      %li Featured in Women of Graphic Design, 2015
      %li Featured in The Daily Type, 2015
      %li Featured in Graphic Design the New Basics, 2015
