%a{href: item[:path], class: "block grid-item zero round-corners #{size}", target: item[:new_tab] ? "_blank" : ""  }
  .hover-box.small-hover.flex.j-center.center.col.black-font
    .moving-text
      - if item[:name]
        %p.poppins.small.upcase.a-start= item[:name]
      %p.mid.bold.a-start= item[:description]
  = image_tag item[:img], class: "#{fill ? 'fill' : 'full-width'} round-corners box-shadow"
