!!!
%html.zero
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    %title= "Iris Sprague | #{@page.capitalize}"

    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link(href="https://fonts.googleapis.com/css?family=Poppins:500" rel="stylesheet")
  %body.flex.col.btw
    = render 'layouts/nav', page: @page
    = yield
    = render 'layouts/footer'
